<nav>
    <h1 class="nav-header">The Docking Station</h1> <!--my suggestion for website name-->



    <div class="top-nav"><a href="/"><i class="bottom-nav">Homepage</i><i class="fa-solid fa-house-user"></i></a></div>
    <div class="top-nav"><a href="/calendar"><i class="bottom-nav">Calendar</i><i class="fa-solid fa-calendar"></i></a></div>
    <div class="top-nav"><a href="/settings"><i class="bottom-nav">Settings</i><i class="fa-solid fa-gears"></i></a></div>
    <div class="top-nav"><a href="/registration"><i class="bottom-nav">Login/Register</i><i class="fa-solid fa-user"></i></a></div>
    <div class="top-nav"><a href="/boatramp"><i class="bottom-nav">Boat Ramps</i><i class="fa-solid fa-anchor"></i></a></div>
    <div class="top-nav"><a href="/comments"><i class="bottom-nav">Comments</i><i class="fa-solid fa-comments"></i></a></div>
    <div class="top-nav"><a href="/admin"><i class="bottom-nav">Admin</i><i class="fa-solid fa-user"></i></a></div>
    <div class="top-nav"><i class="logout bottom-nav">Logout</i><i class="fa-solid fa-user"></i></a></div>
    <div class="login_msg"></div>


</nav>

<script src="/js/dropdown.js"></script>
